
<h1>Edit Comment</h1>


<%= form_for [@post, @comment] do |f| %>
	<p>
		<%= f.label "Comment" %><br/>
		<%= f.text_area :user_comment %><br/>
		
		
	</p>

	<p>
		<%= f.submit "Update" %>
	</p>


<% end %>