<h1>Users#index</h1>


<div class="users">
	<% @users.each do |user| %>
		<div class="user">
			<span class="name">
				<%= link_to user.last_name, user %>
			</span>
			(<%= user.email %>)

		</div>
	<% end %>	
</div>	

