<h1>Edit Role</h1>
<p>Find me in app/views/roles/edit.html.erb</p>


<%= form_for @role do |f| %>
	<p>
		<%= f.label :role_name %><br/>
		<%= f.text_field :role_name %>
	</p>

	<p>
		<%= f.submit "Update" %>
	</p>


<% end %>